.photo-grid__trash-button {
    min-width: 18px;
    height: 19px;
    border: none;
    padding: 0;
    margin: 0;
    background: no-repeat center center url(../../../images/trash-button.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.photo-grid__trash-button:hover {
    opacity: .6;
    cursor: pointer;
}
