.profile__edit-button {
    min-width: 24px;
    height: 24px;
    display: flex;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background: no-repeat center center url(../../../images/edit-button.svg);
    margin-left: 18px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 479px) {
    .profile__edit-button {
        min-width: 18px;
        height: 18px;
        margin-left: 0;
        position: absolute;
        top: 196px;
        left: 248px;
    }
}