.photo-grid__list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    row-gap: 20px;
    column-gap: 17px;
    font-size: 0;
}

@media screen and (min-width: 510px) and (max-width: 914px) {
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 17px 0 17px;
    }
}

@media screen and (max-width: 510px) {
    .photo-grid__list {
        grid-template-columns: 1fr;
        padding: 0;
    }
}
