.profile {
    max-width: 880px;
    margin: 0 auto;
    padding: 40px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


/*@media screen and (max-width: 479px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        align-items: stretch;
        padding: 42px 0 36px;
    }
}*/

@media screen and (max-width: 600px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        align-items: stretch;
        padding: 42px 0 36px;
    }
}