.profile__profession {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 16px 0 0;
    padding: 0;
    text-overflow: ellipsis;
    max-width: 294px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 914px) {
    .profile__profession {
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0;
        max-width: 189px;
    }
}
