.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (min-width: 510px) and (max-width: 897px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 510px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
        padding-left: 27px;
    }
}
