.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #545454;
}


/*@media screen and (max-width: 1184px) {
    .header {
        padding: 28px 48px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 24px 48px;
    }
}
*/

@media screen and (max-width: 479px) {
    .header {
        padding: 28px 0 42px;
    }
}