.profile__add-button {
    min-width: 150px;
    height: 50px;
    display: flex;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    background: no-repeat center center url(../../../images/add-button-22.svg);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 479px) {
    .profile__add-button {
        background: no-repeat center center url(../../../images/add-button-17.svg);
    }
}
