.profile__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 620px) and (max-width: 914px) {
    .profile__content {
        padding-left: 17px;
    }
}

@media screen and (max-width: 620px) {
    .profile__content {
        flex-direction: column;
    }
}
